.button {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 17px 19px 17px 18px;
  color: $peach-99;
  font-weight: 500;
  font-size: 18px;
  background-color: $purple-50;
  border-radius: 8px;

  &:hover {
    background-color: $purple-60;
  }
}
