// Colors
$white: #ffffff;
$black: #000000;
$purple-50: #5700ff;
$purple-60: #7833ff;
$purple-70: #9a66ff;
$purple-80: #bc99ff;
$purple-90: #ddccff;
$purple-95: #eee5ff;
$purple-97: #f5f0ff;
$purple-99: #fcfaff;
$peach-85: #e1dbd1;
$peach-90: #ebe7e0;
$peach-92: #eeebe5;
$peach-99: #fdfdfc;
$grey-10: #191919;
$grey-20: #333333;
$grey-30: #4c4c4c;
$grey-40: #666666;
$grey-50: #808080;
$grey-60: #999999;
$grey-70: #b3b3b3;
$grey-80: #cccccc;
