// Colors
$white: #fff;
$black: #000;
$purple-50: #5700ff;
$purple-60: #7833ff;
$purple-70: #9a66ff;
$purple-80: #bc99ff;
$purple-90: #dcf;
$purple-95: #eee5ff;
$purple-97: #f5f0ff;
$purple-99: #fcfaff;
$peach-85: #e1dbd1;
$peach-90: #ebe7e0;
$peach-92: #eeebe5;
